* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
  background-color: white; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

.hero-wrapper {
  width: 100%;
  height: 100px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.content-wrapper {
  height: 400px; }

nav {
  position: relative;
  width: 100%;
  height: 92px;
  border-bottom: 2px solid #03a7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
  -ms-flex-align: right;
  align-items: right;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  nav .links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  nav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: 50px; }
    nav .links a {
      text-decoration: none;
      text-transform: none;
      color: #03a7ff; }
    nav .links span {
      margin: 0 10px;
      font-size: 20px;
      color: #03a7ff;
      margin-bottom: 3px; }

.footer-wrapper {
  background-color: black;
  width: 100%; }
  .footer-wrapper .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    text-align: left;
    margin: 0 auto;
    margin-left: -390px;
    padding-top: 30px;
    background-color: black;
    width: 100%; }
    .footer-wrapper .footer .contact {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 auto;
      margin-left: -300px;
      color: #0264a6; }
      .footer-wrapper .footer .contact h3 {
        color: #03a7ff; }
    .footer-wrapper .footer .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 auto;
      -ms-flex-item-align: left;
      align-self: left;
      color: #0264a6; }
      .footer-wrapper .footer .menu h3 {
        color: #03a7ff; }

.project1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .project1 img {
    height: 400px;
    width: 600px; }

.the_grove_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .the_grove_wrapper img {
    height: 400px;
    width: 200px; }
  .the_grove_wrapper .code {
    height: 400px;
    width: 600px; }
  .the_grove_wrapper h2 {
    text-align: center; }
  .the_grove_wrapper p {
    text-align: center; }
